@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
    grid-auto-flow: dense;
    .box {
        padding: 15px;
        border-radius: 10px;
        border: 2px solid $soft-bg;
    }
    .box1, .box4 {
        grid-column: span 1;
        grid-row: span 3;
    }
    .box7 {
        grid-column: span 2;
        grid-row: span 2;
        @include md {
            display: none;
        }
    }
}